In [1]:
import pandas as pd

In [3]:
data1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Praktikum Data Mining/UTS/SNMPTN(Saintek)_UGM.csv")
data2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Praktikum Data Mining/UTS/SNMPTN(Soshum)_UGM.csv")

In [5]:
SNMPTNTotal_UGM = pd.concat([data1, data2], axis=0)

In [6]:
SNMPTNTotal_UGM

,NO,KODE,NAMA,JENJANG,DAYA TAMPUNG 2022,PEMINAT 2021,JENIS PORTOFOLIO
0,1,3611526,MANAJEMEN INFORMASI KESEHATAN,D4,18.0,309.000,Tidak Ada
1,2,3611534,TEKNOLOGI REKAYASA PERANGKAT LUNAK,D4,29.0,173.000,Tidak Ada
2,3,3611542,TEKNOLOGI REKAYASA ELEKTRO,D4,22.0,95.000,Tidak Ada
3,4,3611557,TEKNOLOGI REKAYASA INSTRUMENTASI DAN KONTROL,D4,15.0,28.000,Tidak Ada
4,5,3611565,TEKNOLOGI REKAYASA INTERNET,D4,29.0,75.000,Tidak Ada
...,...,...,...,...,...,...,...
25,26,3612197,PEMBANGUNAN SOSIAL DAN KESEJAHTERAAN,S1,23.0,313.000,Tidak Ada
26,27,3612201,ILMU KOMUNIKASI,S1,23.0,1.027,Tidak Ada
27,28,3612216,SOSIOLOGI,S1,23.0,267.000,Tidak Ada
28,29,3612224,PSIKOLOGI,S1,68.0,1.722,Tidak Ada
29,30,3612232,PARIWISATA,S1,20.0,339.000,Tidak Ada

In [7]:
SNMPTNTotal_UGM.to_csv("SNMPTN(Total)_UGM.csv",index=False)